{% extends "main/layout.html" %}

{% block title %}Новости на сайте{% endblock %}  

{% block content %}
    <div class="features">
        <h1>Новости на сайте</h1>
        
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto maxime corrupti enim libero dolor temporibus voluptatum quos quas explicabo fugit, rerum eum beatae sed nemo blanditiis voluptatem deserunt minus earum!</p>
        <button class="btn btn-warning">На страницу про нас</button>  
    </div>
{% endblock %}